[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = http://github.com/symfony/symfony1.git
[submodule "plugins/peanutHtml5Plugin"]
	path = plugins/peanutHtml5Plugin
	url = http://github.com/pocky/peanutHtml5Plugin.git
[submodule "plugins/sfLESSPlugin"]
	path = plugins/sfLESSPlugin
	url = http://github.com/everzet/sfLESSPlugin.git
