sf_admin_form_field_facebook_request div label{
  float: left;
}

.ui-widget-content,
.ui-widget-header,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  border: 0;
  background: none;
}
.ui-state-active img, .ui-widget-content .ui-state-active img, .ui-widget-header .ui-state-active img {
  padding-top: 10px;
  width: 80px;
}

#tabs ul{
  margin-bottom: 20px;
}

#tabs .sf_admin_form_row{
  position: relative;
}

#tabs select{
  position: absolute;
  top:-7px;
}

#tabs input{
  position: absolute;
  top: 6px;
}

/* FACEBOOK */
select#settings_facebook_request{ left: 250px; }
select#settings_facebook_like{ left: 390px; }

select#settings_facebook_like_send_button{ left: 250px; }
select#settings_facebook_like_layout_style{ left: 250px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_like_width{ left: 250px; /*width:863px;*/  width:187px;}
select#settings_facebook_like_show_face{ left: 250px; }
select#settings_facebook_like_verb_to_display{ left: 250px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_like_other_verb_to_display{ left: 250px; /*width:863px;*/  width:187px;}
select#settings_facebook_like_color_scheme{ left: 250px; }
select#settings_facebook_like_font{ left: 250px; }

select#settings_facebook_share{ left: 470px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_title{ left: 173px; width:485px; }
select#settings_facebook_type{ left: 173px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_url{ left: 173px; width:485px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_image{ left: 388px; width:270px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_sitename{ left: 230px; width:428px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_description{ left: 280px; width:378px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_facebook_page{ left: 223px; width:188px; }

/* TWITTER */
select#settings_twitter_request{ left: 235px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_twitter_account{ left: 173px; width:250px; }
select#settings_twitter_follow_request{ left: 388px; }
select#settings_twitter_tweet_request{ left: 388px; }

select#settings_twitter_data_show_screen_name{ left: 250px; }
select#settings_twitter_data_show_count{ left: 250px; }
select#settings_twitter_follow_data_size{ left: 250px; }
select#settings_twitter_follow_lang{ left: 250px; }

select#settings_twitter_tweet_url_request{ left: 250px; }
select#settings_twitter_tweet_text_request{ left: 250px; }
select#settings_twitter_show_count{ left: 250px; }
select#settings_twitter_tweet_data_size{ left: 250px; }
select#settings_twitter_tweet_lang{ left: 250px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_twitter_tweet_recommended{ left: 250px; width:188px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_twitter_tweet_hashtag{ left: 250px; width:188px; }

#authenticated div.sf_admin_form #sf_fieldset_content input#settings_twitter_tweet_url{ left: 250px; width:188px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_twitter_tweet_text{ left: 250px; width:188px; }

/* GOOGLE */
select#settings_google_request{ left: 250px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_google_page_link{ left: 250px; width:188px; }

select#settings_google_plus_request{ left: 350px; }
select#settings_google_plus_size{ left: 130px; }
select#settings_google_plus_note{ left: 130px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_google_plus_url{ left: 130px; width:188px; }

select#settings_google_plus_perso_request{ left: 375px; }
select#settings_google_plus_type{ left: 130px; }
#authenticated div.sf_admin_form #sf_fieldset_content span.google_plus_other_type input#settings_google_plus_other_type{ left: 375px; width:188px; }
.google_plus_other_type a{ position: absolute; top:10px; left: 590px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_google_plus_title{ left: 130px; width:188px; }
#authenticated div.sf_admin_form #sf_fieldset_content input#settings_google_plus_url_image{ left: 130px; width:188px; }
#authenticated div.sf_admin_form #sf_fieldset_content textarea#settings_google_plus_description{ width:308px; resize:none; }

#tabs-1 p, #tabs-2 p, #tabs-3 p{

}